body {
  border: 5px solid black;
  font-family: sans-serif;
}

.header {
  text-transform: capitalize;
  background-color: whitesmoke;
  text-align: center;
}

.shipping {
  text-transform: uppercase;
  color: #444;
  font-size: 12px;
}

a:link {
  color: black;
}

a:hover {
  text-decoration: none;
}

.product {
  text-transform: uppercase;
  font-weight: bold;
}
