body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 5px solid black;
}

.header {
  text-transform: capitalize;
  background-color: whitesmoke;
  text-align: center;
}

.shipping {
  text-transform: uppercase;
  color: #444;
  font-size: 12px;
}

a:link {
  color: black;
}

a:hover {
  text-decoration: none;
}

.product-info {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style: square;
}

.cart {
  color: white;
  background-color: black;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
}

.cart:hover {
  color: black;
  background-color: white;
}
